*{
    box-sizing: border-box;
}
body{
    max-width: 100%;
    padding: 0;
    margin: 0;
     background-color:whitesmoke;
    font-size: 22px;
    font-family:sans-serif ;
}
.container{
    list-style-type: none;
    padding: 1;
    margin: 0.5em;
    line-height: 2;
    align-items: center;
    text-transform: capitalize;
    color: hsla(0, 33%, 8%, 0.788);
}
span{
    font-weight: 600;

}
.container-small{
    background-color: gainsboro;
    list-style-type: none;
}
h1{
    text-transform: capitalize;
    font-weight: 900;
}